<form action="/articles" method="post">
    <ul>
        <li>
            Title: <input id="title" type="text" name ="title"/>
        </li>
        <li>
            Content: <textarea id="content" type="text" name="content">
            </textarea>
        </li>
    </ul>
    <input type="submit"/>
</form>